/* login pagina */

.login-page,.createUsser-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f2f5;
}


.login-container, .createUsser-container {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
}


.login-container h1, .createUsser-container h1{
    margin-bottom: 30px;
    color: #333;
}


.login-container input, .createUsser-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.login-container button, .createUsser-container button{
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.login-container button:hover, .createUsser-container button:hover{
    background-color: #45a049;
}


/* index pagina */
body {
    background: #f0f2f5;
    font-family: 'Arial';
    padding: 20px;
    text-align: center;
}


.text-top h1 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #333;
}

.text-top p {
    font-size: 16px;
    color: #555;
    max-width: 700px;
    margin: 0 auto 40px auto; 
}


.cards-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
}


.card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.card img {
    width: 80%;
    border-radius: 10px;
    margin-top: 15px;
}

.card h2 {
    color: #090909;
}

/* crear usuario */

a{
    display: inline-block;
    margin-top: 15px;
    margin-right: 8px;
    text-decoration: none;
    color: #111;
    font-weight: bold;
}

a:hover{
    color: #4CAF50;
}

label {
    text-align: left;
    display: block;
}

.text-top{
    margin-bottom: 30px;  
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
    max-width: 1100px;
    margin: auto;
}

.poke-card{
    background:white;
    border-radius:12px;
    padding:15px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    position: relative;
}

.poke-id {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 18px;
}

.poke-card img{
    width:120px;
}

.filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.filtros input,
.filtros button {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.filtros button {
    background-color: #333;
    color: white;
    cursor: pointer;
    border: none;
}

.filtros button:hover {
    background-color: #555;
}


.type{
    padding:5px 10px;
    border-radius:8px;
    color:white;
    font-size:12px;
    margin:3px;
    display:inline-block;
}

/* colores pokemon */

.grass{ background:#78C850; }
.fire{ background:#F08030; }
.water{ background:#6890F0; }
.electric{ background:#F8D030; color:black; }
.poison{ background:#A040A0; }
.flying{ background:#A890F0; }
.bug{ background:#A8B820; }
.normal{ background:#A8A878; }
.ground{ background:#E0C068; color:black; }
.rock{ background:#B8A038; }
.ghost{ background:#705898; }
.ice{ background:#98D8D8; color:black; }
.dragon{ background:#7038F8; }
.dark{ background:#705848; }
.fairy{ background:#EE99AC; color:black; }
.steel{ background:#B8B8D0; color:black; }
.psychic{ background:#F85888; }
.fighting{ background:#C03028; }


/* batalla pokemon*/
.battle-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.battle-card {
    width: 300px;
    min-height: 250px;
}

.battle-status {
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.life-bar {
    width: 300px;
    height: 28px;
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.life-fill {
    height: 100%;
    width: 100%;
    background: #4CAF50;
    color: white;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    transition: width 0.4s ease;
}

.log-box {
    background: white;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: left;
}

#battleLog {
    max-height: 350px;
    overflow-y: auto;
}

.log-entry {
    background: #f3f4f6;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.winner-box {
    background: white;
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.winner-box img {
    width: 180px;
}