/* login pagina */

.login-page,.createUsser-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f2f5;
}


.login-container, .createUsser-container {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
}


.login-container h1, .createUsser-container h1{
    margin-bottom: 30px;
    color: #333;
}


.login-container input, .createUsser-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.login-container button, .createUsser-container button{
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.login-container button:hover, .createUsser-container button:hover{
    background-color: #45a049;
}


/* index pagina */
body {
    background: #f0f2f5;
    font-family: 'Arial';
    padding: 20px;
    text-align: center;
}


.text-top h1 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #333;
}

.text-top p {
    font-size: 16px;
    color: #555;
    max-width: 700px;
    margin: 0 auto 40px auto; 
}


.cards-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
}


.card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.card img {
    width: 80%;
    border-radius: 10px;
    margin-top: 15px;
}

.card h2 {
    color: #090909;
}

/* crear usuario */

a{
  display: inline-block;
  margin-top: 15px;
  margin-right: 8px;
  text-decoration: none;
  color: #111;
  font-weight: bold;
}

a:hover{
  color: #4CAF50;
}

label {
    text-align: left;
    display: block;
}

.text-top{
    margin-bottom: 30px;  
}



